.root{
    -fx-background-color: #D9D9D9;
}
#title{
    -fx-font-size: 20pt;
}
.navbar{
    -fx-background-color: #2d2d2d;
}
.text-field{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-background-color: white;
}
.card{
    -fx-background-color: white;
    -fx-backgroud-radius: 10px;
    -fx-border-radius: 10px;
    -fx-fill-width: always;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.scrollPane {

}

.button {

}